In [16]:
import json
import os
import pandas as pd

In [29]:
path_to_json = '../.data/gbfs/lime'
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]
json_objs = []
for file in json_files:
    with open(path_to_json + '/' + file) as f:
        json_objs.append(json.load(f))
gbfs = []
for r in json_objs:
    for b in r['data']['bikes']:
        x = b
        x['provider'] = 'Lime'
        x['update_time'] = r['last_updated']
        gbfs.append(x)

In [30]:
path_to_json = '../.data/gbfs/spin'
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]
json_objs = []
for file in json_files:
    with open(path_to_json + '/' + file) as f:
        json_objs.append(json.load(f))

for r in json_objs:
    for b in r['data']['bikes']:
        x = b
        x['provider'] = 'Spin'
        x['update_time'] = r['last_updated']
        gbfs.append(x)

In [8]:
path_to_json = '../.data/gbfs/jump'
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]
json_objs = []
for file in json_files:
    with open(path_to_json + '/' + file) as f:
        json_objs.append(json.load(f))
gbfs = []
for r in json_objs:
    for b in r['data']['bikes']:
        x = b
        x['provider'] = 'Jump'
        x['update_time'] = r['last_updated']
        gbfs.append(x)

In [22]:
path_to_json = '../.data/gbfs/clevr'
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]
json_objs = []
for file in json_files:
    with open(path_to_json + '/' + file) as f:
        json_objs.append(json.load(f))
gbfs = []
for r in json_objs:
    for b in r['data']['bikes']:
        x = b
        x['provider'] = 'Clevr'
        x['update_time'] = r['last_updated']
        gbfs.append(x)

In [23]:
gbfs = pd.DataFrame.from_records(gbfs)
gbfs.head()

,bike_id,is_disabled,is_reserved,lat,lon,provider,update_time
0,190315,0,0,45.532604,-122.578812,Clevr,1556554101
1,180915,0,0,39.165005,-119.767212,Clevr,1556554101
2,190311,0,0,45.532719,-122.578651,Clevr,1556554101
3,190314,0,0,45.532730,-122.578697,Clevr,1556554101
4,180901,0,0,39.165024,-119.767250,Clevr,1556554101

In [24]:
from datetime import datetime
from pytz import timezone
gbfs['update_time'] = gbfs.update_time.map(lambda t: datetime.fromtimestamp(t).astimezone(timezone('US/Pacific')))
gbfs.head()

,bike_id,is_disabled,is_reserved,lat,lon,provider,update_time
0,190315,0,0,45.532604,-122.578812,Clevr,2019-04-29 09:08:21-07:00
1,180915,0,0,39.165005,-119.767212,Clevr,2019-04-29 09:08:21-07:00
2,190311,0,0,45.532719,-122.578651,Clevr,2019-04-29 09:08:21-07:00
3,190314,0,0,45.532730,-122.578697,Clevr,2019-04-29 09:08:21-07:00
4,180901,0,0,39.165024,-119.767250,Clevr,2019-04-29 09:08:21-07:00

In [25]:
gbfs['update_hour'] = gbfs.update_time.map(lambda t: t.hour)
gbfs['update_minute'] = gbfs.update_time.map(lambda t: t.minute)
gbfs.head()

,bike_id,is_disabled,is_reserved,lat,lon,provider,update_time,update_hour,update_minute
0,190315,0,0,45.532604,-122.578812,Clevr,2019-04-29 09:08:21-07:00,9,8
1,180915,0,0,39.165005,-119.767212,Clevr,2019-04-29 09:08:21-07:00,9,8
2,190311,0,0,45.532719,-122.578651,Clevr,2019-04-29 09:08:21-07:00,9,8
3,190314,0,0,45.532730,-122.578697,Clevr,2019-04-29 09:08:21-07:00,9,8
4,180901,0,0,39.165024,-119.767250,Clevr,2019-04-29 09:08:21-07:00,9,8

In [13]:
lime = gbfs[gbfs.provider == 'Lime']
lime = lime[lime.update_hour == 10]
lime = lime[lime.update_minute < 50]
spin = gbfs[gbfs.provider == 'Spin']
spin = spin[spin.update_hour == 11]
spin = spin[spin.update_minute < 50]
jump = gbfs[gbfs.provider == 'Jump']
jump = jump[jump.update_hour == 15]
jump = jump[jump.update_minute < 50]

In [14]:
len(lime)

0

In [43]:
lime.groupby(['bike_id', 'vehicle_type']).max()

,,is_disabled,is_reserved,lat,lon,provider,update_time,update_hour,update_minute
bike_id,vehicle_type,,,,,,,,
4QCY4NGSECUAL,scooter,0,0,45.491862,-122.670857,Lime,2019-04-22 10:49:54-07:00,10,49
5G6UKHFGKDVZQ,scooter,0,0,45.491865,-122.670873,Lime,2019-04-22 10:49:54-07:00,10,49
K2HEIWPYWQVKD,bike,0,0,45.512204,-122.646203,Lime,2019-04-22 10:49:54-07:00,10,49
KBIH3QKCE7UM5,scooter,0,0,45.511387,-122.652813,Lime,2019-04-22 10:49:54-07:00,10,49
NO5FYSFEDCYZF,bike,0,0,45.519958,-122.65073,Lime,2019-04-22 10:49:54-07:00,10,49
ODV45ILLWE6AS,scooter,0,1,45.532167,-122.606078,Lime,2019-04-22 10:35:54-07:00,10,35
P4CEI7YECE3XE,scooter,0,1,45.532187,-122.60754,Lime,2019-04-22 10:35:54-07:00,10,35
S2ZUEGVNN3452,scooter,0,0,45.49188,-122.670853,Lime,2019-04-22 10:49:54-07:00,10,49
SITED6HNAGKI7,scooter,0,0,45.518521,-122.675956,Lime,2019-04-22 10:49:54-07:00,10,49

In [56]:
lime.groupby(['update_time', 'is_reserved']).count()

                                       bike_id  is_disabled  lat  lon  \
update_time               is_reserved
2019-04-22 10:00:54-07:00 0                  9            9    9    9
2019-04-22 10:01:54-07:00 0                  9            9    9    9
2019-04-22 10:02:54-07:00 0                  8            8    8    8
                          1                  1            1    1    1
2019-04-22 10:03:54-07:00 0                  8            8    8    8
                          1                  1            1    1    1
2019-04-22 10:04:54-07:00 0                  7            7    7    7
                          1                  2            2    2    2
2019-04-22 10:05:54-07:00 0                  7            7    7    7
                          1                  2            2    2    2
2019-04-22 10:06:54-07:00 0                  7            7    7    7
                          1                  2            2    2    2
2019-04-22 10:07:54-07:00 0                  7            7    7    7
                          1                  2            2    2    2
2019-04-22 10:08:54-07:00 0                  8            8    8    8
                          1                  1            1    1    1
2019-04-22 10:09:54-07:00 0                  8            8    8    8
                          1                  1            1    1    1
2019-04-22 10:10:54-07:00 0                  8            8    8    8
                          1                  1            1    1    1
2019-04-22 10:11:54-07:00 0                  7            7    7    7
                          1                  2            2    2    2
2019-04-22 10:12:54-07:00 0                  7            7    7    7
                          1                  2            2    2    2
2019-04-22 10:13:54-07:00 0                  7            7    7    7
                          1                  2            2    2    2
2019-04-22 10:14:54-07:00 0                  8            8    8    8
                          1                  1            1    1    1
2019-04-22 10:15:54-07:00 0                  8            8    8    8
                          1                  1            1    1    1
...                                        ...          ...  ...  ...
2019-04-22 10:23:54-07:00 1                  2            2    2    2
2019-04-22 10:24:54-07:00 0                  7            7    7    7
                          1                  2            2    2    2
2019-04-22 10:25:54-07:00 0                  7            7    7    7
                          1                  2            2    2    2
2019-04-22 10:26:54-07:00 0                  7            7    7    7
                          1                  2            2    2    2
2019-04-22 10:27:54-07:00 0                  9            9    9    9
2019-04-22 10:28:54-07:00 0                  9            9    9    9
2019-04-22 10:29:54-07:00 0                  9            9    9    9
2019-04-22 10:30:54-07:00 0                  9            9    9    9
2019-04-22 10:31:54-07:00 0                  9            9    9    9
2019-04-22 10:32:54-07:00 0                  9            9    9    9
2019-04-22 10:33:54-07:00 0                  9            9    9    9
2019-04-22 10:34:54-07:00 0                  9            9    9    9
2019-04-22 10:35:54-07:00 0                  9            9    9    9
2019-04-22 10:36:54-07:00 0                  7            7    7    7
2019-04-22 10:37:54-07:00 0                  7            7    7    7
2019-04-22 10:38:54-07:00 0                  7            7    7    7
2019-04-22 10:39:54-07:00 0                  7            7    7    7
2019-04-22 10:40:54-07:00 0                  7            7    7    7
2019-04-22 10:41:56-07:00 0                  7            7    7    7
2019-04-22 10:42:54-07:00 0                  7            7    7    7
2019-04-22 10:43:54-07:00 0                  7            7    7    7
2019-04-22 10:44:59-07:00 0                  7            7    7    7
2019-04-22 10:45:54-07:00 0                  7            7    7    7
2019-04-22 10:46:54-07:00 0                  7            7    7    7
2019-04-22 10:47:54-07:00 0                  7            7    7    7
2019-04-22 10:48:54-07:00 0                  7            7    7    7
2019-04-22 10:49:54-07:00 0                  7            7    7    7

                                       provider  vehicle_type  update_hour  \
update_time               is_reserved
2019-04-22 10:00:54-07:00 0                   9             9            9
2019-04-22 10:01:54-07:00 0                   9             9            9
2019-04-22 10:02:54-07:00 0                   8             8            8
                          1                   1             1            1
2019-04-22 10:03:54-07:00 0                   8             8            8
                          1                   1             1            1
2019-04-22 10:04:54-07:00 0                   7             7            7
                          1                   2             2            2
2019-04-22 10:05:54-07:00 0                   7             7            7
                          1                   2             2            2
2019-04-22 10:06:54-07:00 0                   7             7            7
                          1                   2             2            2
2019-04-22 10:07:54-07:00 0                   7             7            7
                          1                   2             2            2
2019-04-22 10:08:54-07:00 0                   8             8            8
                          1                   1             1            1
2019-04-22 10:09:54-07:00 0                   8             8            8
                          1                   1             1            1
2019-04-22 10:10:54-07:00 0                   8             8            8
                          1                   1             1            1
2019-04-22 10:11:54-07:00 0                   7             7            7
                          1                   2             2            2
2019-04-22 10:12:54-07:00 0                   7             7            7
                          1                   2             2            2
2019-04-22 10:13:54-07:00 0                   7             7            7
                          1                   2             2            2
2019-04-22 10:14:54-07:00 0                   8             8            8
                          1                   1             1            1
2019-04-22 10:15:54-07:00 0                   8             8            8
                          1                   1             1            1
...                                         ...           ...          ...
2019-04-22 10:23:54-07:00 1                   2             2            2
2019-04-22 10:24:54-07:00 0                   7             7            7
                          1                   2             2            2
2019-04-22 10:25:54-07:00 0                   7             7            7
                          1                   2             2            2
2019-04-22 10:26:54-07:00 0                   7             7            7
                          1                   2             2            2
2019-04-22 10:27:54-07:00 0                   9             9            9
2019-04-22 10:28:54-07:00 0                   9             9            9
2019-04-22 10:29:54-07:00 0                   9             9            9
2019-04-22 10:30:54-07:00 0                   9             9            9
2019-04-22 10:31:54-07:00 0                   9             9            9
2019-04-22 10:32:54-07:00 0                   9             9            9
2019-04-22 10:33:54-07:00 0                   9             9            9
2019-04-22 10:34:54-07:00 0                   9             9            9
2019-04-22 10:35:54-07:00 0                   9             9            9
2019-04-22 10:36:54-07:00 0                   7             7            7
2019-04-22 10:37:54-07:00 0                   7             7            7
2019-04-22 10:38:54-07:00 0                   7             7            7
2019-04-22 10:39:54-07:00 0                   7             7            7
2019-04-22 10:40:54-07:00 0                   7             7            7
2019-04-22 10:41:56-07:00 0                   7             7            7
2019-04-22 10:42:54-07:00 0                   7             7            7
2019-04-22 10:43:54-07:00 0                   7             7            7
2019-04-22 10:44:59-07:00 0                   7             7            7
2019-04-22 10:45:54-07:00 0                   7             7            7
2019-04-22 10:46:54-07:00 0                   7             7            7
2019-04-22 10:47:54-07:00 0                   7             7            7
2019-04-22 10:48:54-07:00 0                   7             7            7
2019-04-22 10:49:54-07:00 0                   7             7            7

                                       update_minute
update_time               is_reserved
2019-04-22 10:00:54-07:00 0                        9
2019-04-22 10:01:54-07:00 0                        9
2019-04-22 10:02:54-07:00 0                        8
                          1                        1
2019-04-22 10:03:54-07:00 0                        8
                          1                        1
2019-04-22 10:04:54-07:00 0                        7
                          1                        2
2019-04-22 10:05:54-07:00 0                        7
                          1                        2
2019-04-22 10:06:54-07:00 0                        7
                          1                        2
2019-04-22 10:07:54-07:00 0                        7
                          1                        2
2019-04-22 10:08:54-07:00 0                        8
                          1                        1
2019-04-22 10:09:54-07:00 0                        8
                          1                        1
2019-04-22 10:10:54-07:00 0                        8
                          1                        1
2019-04-22 10:11:54-07:00 0                        7
                          1                        2
2019-04-22 10:12:54-07:00 0                        7
                          1                        2
2019-04-22 10:13:54-07:00 0                        7
                          1                        2
2019-04-22 10:14:54-07:00 0                        8
                          1                        1
2019-04-22 10:15:54-07:00 0                        8
                          1                        1
...                                              ...
2019-04-22 10:23:54-07:00 1                        2
2019-04-22 10:24:54-07:00 0                        7
                          1                        2
2019-04-22 10:25:54-07:00 0                        7
                          1                        2
2019-04-22 10:26:54-07:00 0                        7
                          1                        2
2019-04-22 10:27:54-07:00 0                        9
2019-04-22 10:28:54-07:00 0                        9
2019-04-22 10:29:54-07:00 0                        9
2019-04-22 10:30:54-07:00 0                        9
2019-04-22 10:31:54-07:00 0                        9
2019-04-22 10:32:54-07:00 0                        9
2019-04-22 10:33:54-07:00 0                        9
2019-04-22 10:34:54-07:00 0                        9
2019-04-22 10:35:54-07:00 0                        9
2019-04-22 10:36:54-07:00 0                        7
2019-04-22 10:37:54-07:00 0                        7
2019-04-22 10:38:54-07:00 0                        7
2019-04-22 10:39:54-07:00 0                        7
2019-04-22 10:40:54-07:00 0                        7
2019-04-22 10:41:56-07:00 0                        7
2019-04-22 10:42:54-07:00 0                        7
2019-04-22 10:43:54-07:00 0                        7
2019-04-22 10:44:59-07:00 0                        7
2019-04-22 10:45:54-07:00 0                        7
2019-04-22 10:46:54-07:00 0                        7
2019-04-22 10:47:54-07:00 0                        7
2019-04-22 10:48:54-07:00 0                        7
2019-04-22 10:49:54-07:00 0                        7

[75 rows x 8 columns]

In [26]:
gbfs.groupby(['update_time']).count()

,bike_id,is_disabled,is_reserved,lat,lon,provider,update_hour,update_minute
update_time,,,,,,,,
2019-04-29 08:29:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 08:30:20-07:00,6,6,6,6,6,6,6,6
2019-04-29 08:31:20-07:00,6,6,6,6,6,6,6,6
2019-04-29 08:32:20-07:00,6,6,6,6,6,6,6,6
2019-04-29 08:33:20-07:00,7,7,7,7,7,7,7,7
2019-04-29 08:34:20-07:00,7,7,7,7,7,7,7,7
2019-04-29 08:35:20-07:00,7,7,7,7,7,7,7,7
2019-04-29 08:36:20-07:00,7,7,7,7,7,7,7,7
2019-04-29 08:37:20-07:00,7,7,7,7,7,7,7,7
2019-04-29 08:38:20-07:00,7,7,7,7,7,7,7,7
2019-04-29 08:39:20-07:00,7,7,7,7,7,7,7,7
2019-04-29 08:40:20-07:00,7,7,7,7,7,7,7,7
2019-04-29 08:41:20-07:00,7,7,7,7,7,7,7,7
2019-04-29 08:42:20-07:00,7,7,7,7,7,7,7,7
2019-04-29 08:43:21-07:00,7,7,7,7,7,7,7,7
2019-04-29 08:44:20-07:00,7,7,7,7,7,7,7,7
2019-04-29 08:45:20-07:00,6,6,6,6,6,6,6,6
2019-04-29 08:46:20-07:00,6,6,6,6,6,6,6,6
2019-04-29 08:47:20-07:00,6,6,6,6,6,6,6,6
2019-04-29 08:48:20-07:00,6,6,6,6,6,6,6,6
2019-04-29 08:49:20-07:00,6,6,6,6,6,6,6,6
2019-04-29 08:50:20-07:00,6,6,6,6,6,6,6,6
2019-04-29 08:51:20-07:00,6,6,6,6,6,6,6,6
2019-04-29 08:52:20-07:00,6,6,6,6,6,6,6,6
2019-04-29 08:53:20-07:00,7,7,7,7,7,7,7,7
2019-04-29 08:54:21-07:00,7,7,7,7,7,7,7,7
2019-04-29 08:55:20-07:00,7,7,7,7,7,7,7,7
2019-04-29 08:56:20-07:00,7,7,7,7,7,7,7,7
2019-04-29 08:57:20-07:00,7,7,7,7,7,7,7,7
2019-04-29 08:58:21-07:00,7,7,7,7,7,7,7,7
2019-04-29 08:59:21-07:00,7,7,7,7,7,7,7,7
2019-04-29 09:00:21-07:00,7,7,7,7,7,7,7,7
2019-04-29 09:01:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:02:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:03:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:04:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:05:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:06:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:07:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:08:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:09:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:10:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:11:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:12:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:13:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:14:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:15:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:16:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:17:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:18:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:19:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:20:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:21:21-07:00,6,6,6,6,6,6,6,6
2019-04-29 09:22:21-07:00,7,7,7,7,7,7,7,7

In [15]:
jump.groupby(['update_time']).count()

,bike_id,is_disabled,is_reserved,jump_ebike_battery_level,jump_vehicle_type,lat,lon,name,provider,update_hour,update_minute
update_time,,,,,,,,,,,
2019-04-26 15:28:53-07:00,6,6,6,6,6,6,6,6,6,6,6
2019-04-26 15:30:53-07:00,3,3,3,3,3,3,3,3,3,3,3
2019-04-26 15:31:53-07:00,3,3,3,3,3,3,3,3,3,3,3

In [47]:
times = lime['update_time'].unique()
times

<DatetimeArray>
['2019-04-22 10:13:54-07:00', '2019-04-22 10:44:59-07:00',
 '2019-04-22 10:04:54-07:00', '2019-04-22 10:29:54-07:00',
 '2019-04-22 10:48:54-07:00', '2019-04-22 10:33:54-07:00',
 '2019-04-22 10:08:54-07:00', '2019-04-22 10:25:54-07:00',
 '2019-04-22 10:24:54-07:00', '2019-04-22 10:09:54-07:00',
 '2019-04-22 10:32:54-07:00', '2019-04-22 10:49:54-07:00',
 '2019-04-22 10:28:54-07:00', '2019-04-22 10:05:54-07:00',
 '2019-04-22 10:45:54-07:00', '2019-04-22 10:12:54-07:00',
 '2019-04-22 10:19:54-07:00', '2019-04-22 10:35:54-07:00',
 '2019-04-22 10:23:54-07:00', '2019-04-22 10:15:54-07:00',
 '2019-04-22 10:42:54-07:00', '2019-04-22 10:39:54-07:00',
 '2019-04-22 10:02:54-07:00', '2019-04-22 10:03:54-07:00',
 '2019-04-22 10:38:54-07:00', '2019-04-22 10:43:54-07:00',
 '2019-04-22 10:14:54-07:00', '2019-04-22 10:22:54-07:00',
 '2019-04-22 10:34:54-07:00', '2019-04-22 10:18:54-07:00',
 '2019-04-22 10:21:54-07:00', '2019-04-22 10:37:54-07:00',
 '2019-04-22 10:00:54-07:00', '2019-04-22 10:40:54-07:00',
 '2019-04-22 10:17:54-07:00', '2019-04-22 10:16:54-07:00',
 '2019-04-22 10:41:56-07:00', '2019-04-22 10:01:54-07:00',
 '2019-04-22 10:36:54-07:00', '2019-04-22 10:20:54-07:00',
 '2019-04-22 10:06:54-07:00', '2019-04-22 10:46:54-07:00',
 '2019-04-22 10:11:54-07:00', '2019-04-22 10:27:54-07:00',
 '2019-04-22 10:31:54-07:00', '2019-04-22 10:30:54-07:00',
 '2019-04-22 10:26:54-07:00', '2019-04-22 10:10:54-07:00',
 '2019-04-22 10:47:54-07:00', '2019-04-22 10:07:54-07:00']
Length: 50, dtype: datetime64[ns, US/Pacific]

In [50]:
times = pd.DataFrame(times).sort_values([0])
times

                           0
32 2019-04-22 10:00:54-07:00
37 2019-04-22 10:01:54-07:00
22 2019-04-22 10:02:54-07:00
23 2019-04-22 10:03:54-07:00
2  2019-04-22 10:04:54-07:00
13 2019-04-22 10:05:54-07:00
40 2019-04-22 10:06:54-07:00
49 2019-04-22 10:07:54-07:00
6  2019-04-22 10:08:54-07:00
9  2019-04-22 10:09:54-07:00
47 2019-04-22 10:10:54-07:00
42 2019-04-22 10:11:54-07:00
15 2019-04-22 10:12:54-07:00
0  2019-04-22 10:13:54-07:00
26 2019-04-22 10:14:54-07:00
19 2019-04-22 10:15:54-07:00
35 2019-04-22 10:16:54-07:00
34 2019-04-22 10:17:54-07:00
29 2019-04-22 10:18:54-07:00
16 2019-04-22 10:19:54-07:00
39 2019-04-22 10:20:54-07:00
30 2019-04-22 10:21:54-07:00
27 2019-04-22 10:22:54-07:00
18 2019-04-22 10:23:54-07:00
8  2019-04-22 10:24:54-07:00
7  2019-04-22 10:25:54-07:00
46 2019-04-22 10:26:54-07:00
43 2019-04-22 10:27:54-07:00
12 2019-04-22 10:28:54-07:00
3  2019-04-22 10:29:54-07:00
45 2019-04-22 10:30:54-07:00
44 2019-04-22 10:31:54-07:00
10 2019-04-22 10:32:54-07:00
5  2019-04-22 10:33:54-07:00
28 2019-04-22 10:34:54-07:00
17 2019-04-22 10:35:54-07:00
38 2019-04-22 10:36:54-07:00
31 2019-04-22 10:37:54-07:00
24 2019-04-22 10:38:54-07:00
21 2019-04-22 10:39:54-07:00
33 2019-04-22 10:40:54-07:00
36 2019-04-22 10:41:56-07:00
20 2019-04-22 10:42:54-07:00
25 2019-04-22 10:43:54-07:00
1  2019-04-22 10:44:59-07:00
14 2019-04-22 10:45:54-07:00
41 2019-04-22 10:46:54-07:00
48 2019-04-22 10:47:54-07:00
4  2019-04-22 10:48:54-07:00
11 2019-04-22 10:49:54-07:00